html {
    font-size: 10px;
  }
  
  body {
    font-family: Arial, sans-serif;
    text-align: center;
    line-height: 1.5;
    font-size: 1.75rem;
    margin: 0;
    padding: 0;
  }
  
  #main {
    margin: 30px 50px 0px 50px;
    padding: 15px;
    border-radius: 10px;
    background: #eee;
  }
  
  #title {
    font-size: 5rem;
    margin: -5px 0 15px 0;
  }
  
  #img-div {
    background: white;
    padding: 20px;
    border-radius: 10px;
  }
  
  #image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  #img-caption {
    margin: 15px 0 0 0;
    font-size: 1.5rem;
    color: #555;
  }
  
  @media (max-width: 460px) {
    #img-caption {
      font-size: 1.4rem;
    }
  }
  
  @media (max-width: 460px) {
    h1 {
      font-size: 3.5rem;
      line-height: 1.2;
    }
  }
  
  #headline {
    margin: 50px 0;
  }
  
  ul {
    max-width: 500px;
    margin: 0 auto 50px auto;
    text-align: left;
    padding: 0;
    list-style: none;
  }
  
  li {
    margin: 16px 0;
  }
  
  li::before {
    content: '• ';
    color: #333;
  }
  
  a {
    color: blue;
    text-decoration: none;
  }
  
  a:visited {
    color: purple;
  }
  
  a:hover {
    text-decoration: underline;
  }
  